@{
    ViewData["Title"] = "Test Result";
}

    <div class="layout" style="align-content:center;">
        <h4>
            <b>Status:</b>    @ViewBag.Autism <br />
        </h4>

        <div class="center">
            <button onclick="goBack()">Go Back To The Test</button>


            <script>
                function goBack() {
                    window.history.back();
                }
            </script>
        </div>
    </div>